{% extends "basefront.html.twig" %}
{% block body %}
    {% for message in app.flashes('succes') %}
        <div class = 'mt-3 alert alert-success'>
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start(formcontact) }}

    {{ form_end(formcontact) }}
{% endblock %}    